<div class="page-header">
  <h3><%= @user.username %>'s Photo Collection </h3>

</div>


<%= @user.photos.each do |photo| %>

<div>
<img src = "<%= photo.image %>" width="400" height="400">
<div>
  <%= photo.caption %>
</div>
</div>

<% end %>
